artis_files*
*.pdf
!artis_files_example_old
__pycache__
.eggs
*.pyc
.cache
Icon?
*.swp
*.tmp
*.egg-info
.pytest_cache
output.txt

atomic-data-qub/1

*.nosync

recombination_rates/phixs.pdf
.DS_Store
.idea
.tags*
testoutput
testoutput/*
